
.objectTree-after .objectTree-leaf,
.objectTree-after .objectTree-identity{
    color: #32c730;
}
.objectTree-before .objectTree-leaf,
.objectTree-before .objectTree-identity{
    color: #981c1c;
    text-decoration: line-through;
}

.objectTree-diff{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
