@import "leaf.css";
@import "diff.css";

.objectTree-children{
    margin-left: 12px;
}
.objectTree-child{
    display: flex;
    flex-direction: column;
}
.objectTree-child--leaf{
    flex-direction: row;
}


.objectTree-key{
    font-weight: bold;
}
.objectTree-tic{
    position: absolute;
    left: -8px;
    transition: transform 150ms ease;
    width: 3px;
}
.objectTree-tic--opened{
    transform: rotate(90deg);
}

.objectTree-identity{

    display: flex;
    flex-direction: row;
    position: relative;

    cursor: pointer;
    margin-bottom: 3px;
    min-width: 70px;
}
.objectTree-child--leaf>.objectTree-identity{
    cursor: auto;
    margin-bottom: 0;
}
