
.fragmentDiff{
    padding: 6px;
}
.fragmentDiff-name{
    font-weight: bold;
    font-size: 1.2em;
}
.fragmentDiff-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
