@import "action.css";

.timeLine{
    position: relative;
}
.timeLine-item{
    position: absolute;
    top:0;
}

.timeLine-bar{
    width: 2px;
    position: absolute;
    top:7px;
    bottom:7px;
    left:8px;
    background-color: #eee;
}

.timeLine-payload{
    position: absolute;
    top:0;
    left: 14px;
    right :4px;
}
.timeLinePayload{
    padding: 4px;
    overflow: auto;
    min-height: 20px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    background-color: #fff;
}
