.graph{
    width:100%;
    height:100%;

    cursor:default;
    position: relative;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.node{
    cursor:pointer;
}
.node > text {
    font-family:Verdana;
    font-size:2.5px;
    fill:#888;
}
.node-tic{
    transition: transform 200ms ease, fill 200ms ease;
}
.node--selected > .node-tic{
    fill: #5bbd47;
    transform: scale(2.5);
}

.arc-path {
    fill:none;
    stroke:#aaa;
    stroke-width:0.1;
}
.arc-arrow {
    fill:#aaa;
}

.flow{
    pointer-events: none;
}
.flow-node > circle{
    fill:#7446a0;
    transform: scale(0);
    transition: transform 200ms ease;
}
.flow-node-changed > circle{
    transform: scale(1);
}
.flow-arc > path{
    stroke:#7446a0;
    stroke-width:0.5;
    fill: none;
}

.graph .slidable{
    position: absolute;
}
